$themes:( theme-one:( color: #ff1744), theme-tow:( color: #03A9F4), theme-thre:(color: #FF5722), theme-four:(color:#009688), theme-five:(color: #00e676));
@each $theme,
$map in $themes {
    .#{$theme} {
        .page .content-page h1 {
            color: map-get($map, color);
        }
        .page .sidebar .links-area>li>a .fa-angle-right.down {
            color: map-get($map, color);
        }
        .page .sidebar .links-area>li>a {
            &:hover:before {
                background-color: map-get($map, color);
                border-color: map-get($map, color);
            }
        }
        .page .sidebar .logo-area h4 {
            color: map-get($map, color);
        }
        .header .toggle-side {
            color: map-get($map, color);
        }
        .setting-box .toggle-box {
            color: map-get($map, color);
        }
        .header .user-container .user-info .arrow .row p i {
            color: map-get($map, color);
        }
    }
}