.setting-box {
    width: 250px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    padding: 10px;
    z-index: 1000;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    .toggle-box {
        position: absolute;
        left: -45px;
        background-color: white;
        top: 30vh;
        color: #ff1744;
        padding: 8px;
        cursor: pointer;
    }
    &.hide-box {
        right: -250px;
    }
    .option-box {
        h4 {
            font-size: 30px;
            padding: 20px 2px 2px 2px;
            border-bottom: 1px solid #ccc;
        }
    }
    .color-box {
        ul {
            border-bottom: 1px solid #ccc;
            margin: 0;
            $color: #ff1744, #03A9F4, #FF5722, #009688, #00e676, #8e44ad;
            @for $i from 1 through length($color) {
                li:nth-child(#{$i}) {
                    background-color: nth($color, $i);
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    box-shadow: 0 0 8px #ccc;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    opacity: .7;
                    cursor: pointer;
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .fonts-box {}
}