.header
    i.fa.fa-exchange-alt.fa-lg.toggle-side
    .dropdown.noty-minue
        i.fa.fa-bell.fa-lg.header-icons#not-bell( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            .dropdown-menu(aria-labelledby='not-bell')
                .noti-head
                    | Noteifictions
                    span 10+
                .noti-body
                    ul.list-unstyled
                        li 
                            i.fa.fa-bell
                            |Notifiction 1
                        li
                            i.fa.fa-bell 
                            |Notifiction 2
                        li
                            i.fa.fa-bell
                            |Notifiction 3
                        li
                            i.fa.fa-bell 
                            |Notifiction 4
                        li
                            i.fa.fa-bell
                            |Notifiction 5
                        li
                            i.fa.fa-bell
                            |Notifiction 6 
                        li
                            i.fa.fa-bell
                            |Notifiction 7 
                        li
                            i.fa.fa-bell
                            |Notifiction 8 
                        li
                            i.fa.fa-bell
                            |Notifiction 8 
                        li
                            i.fa.fa-bell
                            |Notifiction 9 
                        li
                            i.fa.fa-bell
                            |Notifiction 10 
                .noti-footer.text-center
                    a(href="#") View All Noteifictions
    i.fa.fa-expand.header-icons.toggle-screen
    .user-container
        .user-info#not-bell( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.rounded-circle(src="svg/avatar.svg")
            span Mohamed Mojahed
            i.fa.fa-angle-down.fa-lg
            .dropdown-menu.arrow.dropdown-menu-right(aria-labelledby='not-bell')
                .head-box
                    img(src="svg/avatar.svg" alt="User Img")
                    h3 Mohamed Mojahed
                        p
                            i.fas.fa-crown  Pro
                hr
                ul.list-unstyled: p.lead Last Reactes
                    li - Lorem ipsum dolor sit amet, consectetur.
                    li - adipisicing elit. Inventore obcaecati earum aperiam.
                    li - Aperiam non voluptates debitis voluptate sequi sed repellat a veniam.
                    li - dolor illo nulla nostrum eligendi consequatur, tenetur itaque!.
                hr
                .row
                    .col
                        p

                            i.fas.fa-cog  
                            |Settings
                    .col
                        p
                            i.fa.fa-user  
                            |Profile
                    .col
                        p
                            i.fa.fa-power-off  
                            |Logout
