.header
    i.fa.fa-exchange-alt.fa-lg.toggle-side
    .dropdown.noty-minue
        i.fa.fa-bell.fa-lg.header-icons#not-bell( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            .dropdown-menu(aria-labelledby='not-bell')
                .noti-head
                    | Noteifictions
                    span 10+
                .noti-body
                    ul.list-unstyled
                        li 
                            i.fa.fa-bell
                            |Notifiction 1
                        li
                            i.fa.fa-bell 
                            |Notifiction 2
                        li
                            i.fa.fa-bell
                            |Notifiction 3
                        li
                            i.fa.fa-bell 
                            |Notifiction 4
                        li
                            i.fa.fa-bell
                            |Notifiction 5
                        li
                            i.fa.fa-bell
                            |Notifiction 6 
                        li
                            i.fa.fa-bell
                            |Notifiction 7 
                        li
                            i.fa.fa-bell
                            |Notifiction 8 
                        li
                            i.fa.fa-bell
                            |Notifiction 8 
                        li
                            i.fa.fa-bell
                            |Notifiction 9 
                        li
                            i.fa.fa-bell
                            |Notifiction 10 
                .noti-footer.text-center
                    a(href="#") View All Noteifictions
    i.fa.fa-expand.header-icons.toggle-screen
    .user-container
        .user-info#not-bell( data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.rounded-circle(src="svg/avatar.svg")
            span Mohamed Mojahed
            i.fa.fa-angle-down.fa-lg
            .dropdown-menu(aria-labelledby='not-bell')
                | User Info
