.sidebar
    .logo-area
        h4 Mohamed Mojahed
    ul.links-area.list-unstyled
        li 
            a.toggle(href="#")
                | #{title}
                i.fa.fa-angle-right
            ul.list-unstyled.child-links
                li: a(href="#") Test
        li
            a.toggle(href="#")
                | forms
                i.fa.fa-angle-right
            ul.list-unstyled.child-links
                li: a(href="#") input
                li: a(href="#") Check Box
                li: a(href="#") Text Area
                li: a(href="#") Radio
        li
            a.toggle(href="#") 
                | Mixin
                i.fa.fa-angle-right
            ul.list-unstyled.child-links
                li: a(href="#") input
                li: a(href="#") Check Box


