.sidebar
    .logo-area
        h4 Dashboard
    ul.links-area.list-unstyled
        li: a(href="homepage.html") Home Page
        li: a(href="charts.html") Charts
            ul.list-unstyled.child-links
                li: a(href="#") Test
        li
            a.toggle
                | forms
                i.fa.fa-angle-right
            ul.list-unstyled.child-links
                li: a(href="#") input
                li: a(href="#") Check Box
                li: a(href="#") Text Area
                li: a(href="#") Radio
        li
            a.toggle 
                | Mixin
                i.fa.fa-angle-right
            ul.list-unstyled.child-links
                li: a(href="#") input
                li: a(href="#") Check Box


