.page {
    .sidebar {
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #2e3744;
        color: white;
        height: 100%;
        padding: 15px;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
        &.no-side {
            left: -250px;
        }
    }
}