- var title = "Home Page";
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        include pug/layout/style
    body
        .page.home-page
            include pug/layout/sidebar
            .content-area
                include pug/layout/header
        include pug/layout/scripts