.setting-box.hide-box
    .toggle-box
        i.fa.fa-cog.fa-2x
    .option-box
        |Hello
    .option-box
        |Hello

    .option-box
        |Hello

    .option-box
        |Hello

    .option-box